.header{
    position:fixed;
    width: 100vw;
    top:0;
    background-color: #ffffff;
    /* border-bottom: 3px solid #f7eaeb; */
    box-shadow: 0 0 5px #ba090a;
    z-index: 100;
}
.nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    text-decoration: none;

}
.navLogo{
    margin-left: 30px;
    position: relative;
}
.navLogo h2{
    padding:20px 30px;
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
}
.navTitle{
    color:#ba090a;
    text-decoration: none;
    line-height: 36px;
    display: block;
}
.icon{
    color:#ba090a;   
    text-decoration: none;  
    text-align: center;
    border:5px solid #fff;
    border-radius: 50%;
    transition: color .6s, background-color .8s, border .8s;
}
.searchBar{
    display: flex;
    align-items: center;
}
.icon:hover{
    color:#fff;
    background-color:#ba090a;
    border:5px solid #ba090a;
}
.iconFilm{
    width: 20px;
    height: 20px;
    font-size: 20px;
    position: absolute;
    color:black;
    top:7px;
    right:10px;
    padding:3px;
    border: 2px solid #ba090a;
    text-decoration: none;
    border-radius: 5px  ;
    transform: rotate(35deg);
}
.iconHome{
    composes: icon;   
    margin-right: 60px;
    padding:7px;
    width: 50px;
    
}

/* .iconSearch{
    composes: icon;
    margin-right: 50px;
    padding:10px 12px;
    width: 40px;

} */

.suggestionContentBox{
    font-family: sans-serif;
    /* width: 100%; */
    display: flex;
    font-size: 12px;
    color:#ba090a;
    padding:3px 5px;
    
}
.suggestionContentBox image{
    width: 20%;
}
.suggestionTitle{
  width: 80%;
  padding:0 10px;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.suggestionTitle span{
    width: 100%;  
    font-size: 16px;
    /* font-weight: 600; */
    color:#000;
    line-height: 68px;
    margin-right: 15px;
 

}